body{
  background-color: black;
  color: white;
}

.movie-app > .row{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.justify-start{
  justify-content: start;
  margin: 0.3rem;
}

.d-flex{
  display: flex;
  margin-bottom: 1rem;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.heading > h1{
  margin: 0.5rem;
  padding: 0.5rem;
}

.form-control{
  margin: 0.5rem;
  margin-right: 1.5rem;
  padding: 0.5rem 0.9rem;
}

.image-container{
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay{
  opacity: 1;
}
.overlay{
  position: absolute;
  background: rgba(0,0,0,0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.favourites{
  margin-right: 0.2rem;
}